*.jpg binary
*.png binary
*.sln binary
*.vcproj binary
*.exe binary
*.lda binary
*.bin binary
*.imd binary
*.rim binary
*.tap binary
*.dsk binary
*.vhd binary
*.crd binary
*.dck binary
sim_rev.h export-subst
.gitattributes whitespace=cr-at-eol
alpha/alpha_ev5_pal.c whitespace=cr-at-eol
